@import url('https://allfont.net/allfont.css?fonts=ds-digital');

.visor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: default;
}

.visor span {
  font-size: 10rem;
  font-family: 'DS-Digital', arial;
}

