#bubbles {
    position: absolute;
    left: 0px;
    top: -50;
    
  }
  
  .bubble {
    position: absolute;
    bottom: -50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(255, 166, 0, 0.8);
    animation: bubbles 6s linear infinite
  }
  
  @keyframes bubbles {
    0% {
      transform: translateY(700px);
    }
  
    100% {
      transform: translateY()
    }
  }