main .menu {
  display: flex;
  height: 20%;
}

main .menu button {
  flex: 1;
  border: none;

  font-size: 48px;
  font-family: var(--modern-font);

  color: #fff;
  background-color: rgba(52, 52, 52, 0.75);
}

.menu #cronometer-menu {
    border-bottom: 8px solid orange;
    border-bottom-right-radius: 16px;
    transition: 0.3s ease-in-out;
}

.menu #cronometer-menu:hover, .menu #cronometer-menu.current-menu:hover {
    color: var(--background-primary);
    background-color: orange;
}

.menu #watch-menu {
    border-bottom: 8px solid forestgreen;
    border-bottom-left-radius: 16px;
    transition: 0.3s ease-in-out;
}

.menu #watch-menu:hover, .menu #watch-menu.current-menu:hover {
    color: var(--background-primary);
    background-color: forestgreen;
}

.menu .current-menu {
    background-color: transparent;
}

.menu #cronometer-menu.current-menu {
    border-bottom: 0;
    color: orange;
    border-top: 8px solid orange;
}

.menu #watch-menu.current-menu {
    border-bottom: 0;
    color: forestgreen;
    border-top: 8px solid forestgreen;
}

@keyframes fillWatchMenu {
    
}